[[inputs.file]]
  files = ["/sys/class/thermal/thermal_zone0/temp"]
  name_override = "cpu_temperature"
  data_format = "value"
  data_type = "integer"

[[inputs.exec]]
  commands = [ "/opt/vc/bin/vcgencmd measure_temp"]
  name_override = "gpu_temperature"
  data_format = "grok"
  grok_patterns = ["%{NUMBER:value:float}"]

[[inputs.exec]]
  commands = ["/opt/vc/bin/vcgencmd measure_clock arm"]
  name_override = "cpu_clock"
  data_format = "grok"
  grok_patterns = ["=%{NUMBER:value:float}"]

[[inputs.exec]]
  commands = [ "/opt/vc/bin/vcgencmd measure_volts core"]
  name_override = "volts"
  data_format = "grok"
  grok_patterns = ["%{NUMBER:value:float}"]
[[inputs.exec]]
  commands = [ "/opt/vc/bin/vcgencmd measure_volts sdram_c"]
  name_override = "volts"
  data_format = "grok"
  grok_patterns = ["%{NUMBER:sdramc:float}"]
[[inputs.exec]]
  commands = [ "/opt/vc/bin/vcgencmd measure_volts sdram_i"]
  name_override = "volts"
  data_format = "grok"
  grok_patterns = ["%{NUMBER:sdrami:float}"]
[[inputs.exec]]
  commands = [ "/opt/vc/bin/vcgencmd measure_volts sdram_p"]
  name_override = "volts"
  data_format = "grok"
  grok_patterns = ["%{NUMBER:sdramp:float}"]