[Unit]
Description=Jackett Daemon
After=network.target

[Service]
Environment=XDG_CONFIG_HOME=/mnt/config/jackett
SyslogIdentifier=jackett
Restart=always
RestartSec=5
Type=simple
User=jackett
WorkingDirectory=/opt/Jackett
ExecStart=/bin/sh "/opt/Jackett/jackett_launcher.sh"
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target